.userAnalytics {
    padding: 24px;
}

.userAnalyticsHeading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: #333;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabelHead,
.tableData {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabelHead {
    background-color: #f1f1f1;
    font-weight: 600;
}

.tableRow {
    cursor: pointer;
}

.tableRow:hover {
    background-color: #f9f9f9;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-white {
    background-color: white;
}

.bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.rounded-lg {
    border-radius: 12px;
}

.shadow-lg {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.bg-white {
    padding: 20px;
    width: 50%;
}

.userDetailsHeadig {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.closeModalButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.closeModalButton:hover {
    background-color: #e53935;
}


.tabelHead,
.tableData {
    padding: 10px;
    font-size: 14px;
}

.tabelHead {
    background-color: #f5f5f5;
    font-weight: bold;
}


@media (max-width: 768px) {
    .bg-white {
        width: 80%;
    }

    .userAnalyticsHeading {
        font-size: 1.5rem;
    }

    .tabelHead,
    .tableData {
    padding: 8px;
    font-size: 12px;
    }
}